{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% load staticfiles %}

{% block content %}
<!-- Projects Row -->
<div class="row">
    <div class="red_hr1">
            <h4>Login</h4>
        </div>
    <form method="post" action="" role="form" class="form-horizontal" id="loginForm">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="form-group">
            <label for="{{ form.username.id_for_label }}" class="col-sm-2 control-label">Phone Number</label>

            <div class="col-sm-10">
                {{ form.username.errors }}
                {{ form.username }}
            </div>
        </div>

        <div class="form-group">
            <label for="{{ form.password.id_for_label }}" class="col-sm-2 control-label">Password</label>

            <div class="col-sm-10">
                {{ form.password.errors }}
                {{ form.password }}
            </div>
        </div>
        <div class="red_hr1">

        </div>

        <div class="form-group">
            <div class="col-sm-2">

            </div>
            <div class="form-group">
                <a href="#" class="btn red-bordered-button">Forgot Password</a>
                <input type="submit" value="Login" name="submit" class="btn red-bordered-button">
                <a href="{% url 'account:register' %}" class="btn red-bordered-button">Sign Up</a>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery.validate.min.js' %}"></script>

<script type="text/javascript">
    $('#loginForm').validate({
        rules: {
            'username': {
                required: true,
                digits: true,
                rangelength: [11, 15],
            },
            password: "required"
        },
        messages: {
            'username': {
                required: "Enter your Phone number",
                rangelength: "Enter your 11-15 digits phone number.",
            },
        }
    });

</script>
{% endblock %}